<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
<TotalTime>
16527</TotalTime>
<Words>
2825</Words>
<Application>
Microsoft Office PowerPoint</Application>
<PresentationFormat>
Widescreen</PresentationFormat>
<Paragraphs>
439</Paragraphs>
<Slides>
43</Slides>
<Notes>
35</Notes>
<HiddenSlides>
1</HiddenSlides>
<MMClips>
2</MMClips>
<ScaleCrop>
false</ScaleCrop>
<HeadingPairs>
<vt:vector size="6" baseType="variant">
<vt:variant>
<vt:lpstr>
Fonts Used</vt:lpstr>
</vt:variant>
<vt:variant>
<vt:i4>
4</vt:i4>
</vt:variant>
<vt:variant>
<vt:lpstr>
Theme</vt:lpstr>
</vt:variant>
<vt:variant>
<vt:i4>
1</vt:i4>
</vt:variant>
<vt:variant>
<vt:lpstr>
Slide Titles</vt:lpstr>
</vt:variant>
<vt:variant>
<vt:i4>
43</vt:i4>
</vt:variant>
</vt:vector>
</HeadingPairs>
<TitlesOfParts>
<vt:vector size="48" baseType="lpstr">
<vt:lpstr>
Calibri Light</vt:lpstr>
<vt:lpstr>
Calibri</vt:lpstr>
<vt:lpstr>
Arial</vt:lpstr>
<vt:lpstr>
Consolas</vt:lpstr>
<vt:lpstr>
Office Theme</vt:lpstr>
<vt:lpstr>
Automatic Test-Case Reduction in Proof Assistants A Case Study in Coq</vt:lpstr>
<vt:lpstr>
Category Theory Library Minimization in Coq</vt:lpstr>
<vt:lpstr>
Category Theory Library Minimization in Coq</vt:lpstr>
<vt:lpstr>
Category Theory Library Minimization in Coq</vt:lpstr>
<vt:lpstr>
PowerPoint Presentation</vt:lpstr>
<vt:lpstr>
PowerPoint Presentation</vt:lpstr>
<vt:lpstr>
PowerPoint Presentation</vt:lpstr>
<vt:lpstr>
Category Theory Library Minimization in Coq</vt:lpstr>
<vt:lpstr>
Category Theory Library Minimization in Coq</vt:lpstr>
<vt:lpstr>
Category Theory Library Minimization in Coq</vt:lpstr>
<vt:lpstr>
PowerPoint Presentation</vt:lpstr>
<vt:lpstr>
Origin Story: Coq Bug Reports By Year</vt:lpstr>
<vt:lpstr>
Goal: Automate This!</vt:lpstr>
<vt:lpstr>
PowerPoint Presentation</vt:lpstr>
<vt:lpstr>
Debugging Regressions: coqdev experience</vt:lpstr>
<vt:lpstr>
PowerPoint Presentation</vt:lpstr>
<vt:lpstr>
CI Running Time</vt:lpstr>
<vt:lpstr>
PowerPoint Presentation</vt:lpstr>
<vt:lpstr>
PowerPoint Presentation</vt:lpstr>
<vt:lpstr>
PowerPoint Presentation</vt:lpstr>
<vt:lpstr>
PowerPoint Presentation</vt:lpstr>
<vt:lpstr>
How Long Does It Take?</vt:lpstr>
<vt:lpstr>
Minimizer Running Time CDF</vt:lpstr>
<vt:lpstr>
How Long Do Projects Take On CI?</vt:lpstr>
<vt:lpstr>
How Much Do We Minimize?</vt:lpstr>
<vt:lpstr>
How Minimal is Minimal in Absolute Terms?</vt:lpstr>
<vt:lpstr>
Specification Summary</vt:lpstr>
<vt:lpstr>
Specification Details</vt:lpstr>
<vt:lpstr>
What needs to be automated?</vt:lpstr>
<vt:lpstr>
How do we do this?</vt:lpstr>
<vt:lpstr>
Delta Debugging / Brute Force Removal</vt:lpstr>
<vt:lpstr>
Coupling</vt:lpstr>
<vt:lpstr>
Coupling</vt:lpstr>
<vt:lpstr>
Coupling</vt:lpstr>
<vt:lpstr>
Coupling</vt:lpstr>
<vt:lpstr>
How do we do this?</vt:lpstr>
<vt:lpstr>
Tricks for Inlining and Linearization</vt:lpstr>
<vt:lpstr>
Name Changes on Inlining</vt:lpstr>
<vt:lpstr>
Linearization</vt:lpstr>
<vt:lpstr>
How to make your proof assistant amenable to minimization</vt:lpstr>
<vt:lpstr>
Future Work</vt:lpstr>
<vt:lpstr>
PowerPoint Presentation</vt:lpstr>
<vt:lpstr>
How Long Do Projects Take On CI?</vt:lpstr>
</vt:vector>
</TitlesOfParts>
<LinksUpToDate>
false</LinksUpToDate>
<SharedDoc>
false</SharedDoc>
<HyperlinksChanged>
false</HyperlinksChanged>
<AppVersion>
16.0000</AppVersion>
</Properties>
