<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
<TotalTime>
6365</TotalTime>
<Words>
981</Words>
<Application>
Microsoft Office PowerPoint</Application>
<PresentationFormat>
Widescreen</PresentationFormat>
<Paragraphs>
152</Paragraphs>
<Slides>
25</Slides>
<Notes>
4</Notes>
<HiddenSlides>
13</HiddenSlides>
<MMClips>
0</MMClips>
<ScaleCrop>
false</ScaleCrop>
<HeadingPairs>
<vt:vector size="6" baseType="variant">
<vt:variant>
<vt:lpstr>
Fonts Used</vt:lpstr>
</vt:variant>
<vt:variant>
<vt:i4>
3</vt:i4>
</vt:variant>
<vt:variant>
<vt:lpstr>
Theme</vt:lpstr>
</vt:variant>
<vt:variant>
<vt:i4>
1</vt:i4>
</vt:variant>
<vt:variant>
<vt:lpstr>
Slide Titles</vt:lpstr>
</vt:variant>
<vt:variant>
<vt:i4>
25</vt:i4>
</vt:variant>
</vt:vector>
</HeadingPairs>
<TitlesOfParts>
<vt:vector size="29" baseType="lpstr">
<vt:lpstr>
Calibri Light</vt:lpstr>
<vt:lpstr>
Calibri</vt:lpstr>
<vt:lpstr>
Arial</vt:lpstr>
<vt:lpstr>
Office Theme</vt:lpstr>
<vt:lpstr>
Automatic Test-Case Reduction in Proof Assistants A Case Study in Coq</vt:lpstr>
<vt:lpstr>
Category Theory Library Minimization in Coq</vt:lpstr>
<vt:lpstr>
Origin Story: Coq Bug Reports By Year</vt:lpstr>
<vt:lpstr>
PowerPoint Presentation</vt:lpstr>
<vt:lpstr>
Goal: Automate This!</vt:lpstr>
<vt:lpstr>
What it looks like now:</vt:lpstr>
<vt:lpstr>
To Automate, we need a Spec</vt:lpstr>
<vt:lpstr>
To Automate, we need a Spec</vt:lpstr>
<vt:lpstr>
What needs to be automated?</vt:lpstr>
<vt:lpstr>
How do we do this?</vt:lpstr>
<vt:lpstr>
How to make your proof assistant amenable to minimization</vt:lpstr>
<vt:lpstr>
Future Work</vt:lpstr>
<vt:lpstr>
Context</vt:lpstr>
<vt:lpstr>
What I did in my PhD (AKA Why I care about wasted dev time)</vt:lpstr>
<vt:lpstr>
This Presentation </vt:lpstr>
<vt:lpstr>
What the Coq Bug Minimizer Does</vt:lpstr>
<vt:lpstr>
How do you know it does it right?</vt:lpstr>
<vt:lpstr>
How does it do it?</vt:lpstr>
<vt:lpstr>
Trouble with Inlining: Linearizability</vt:lpstr>
<vt:lpstr>
Plot about how often file is standalone</vt:lpstr>
<vt:lpstr>
Useful: no forward references</vt:lpstr>
<vt:lpstr>
Plot about time saved</vt:lpstr>
<vt:lpstr>
How long does minimizer take to run</vt:lpstr>
<vt:lpstr>
Coqbot Workflow</vt:lpstr>
<vt:lpstr>
Takeaways for Other Proof Assistants</vt:lpstr>
</vt:vector>
</TitlesOfParts>
<LinksUpToDate>
false</LinksUpToDate>
<SharedDoc>
false</SharedDoc>
<HyperlinksChanged>
false</HyperlinksChanged>
<AppVersion>
16.0000</AppVersion>
</Properties>
